WEB-INF/xml/catalogo.dtd

<!ELEMENT catalogo (prodotto+)>
<!ELEMENT prodotto (id,nome,descrizione,prezzo_vendita,prezzo_acquisto,quantita,quantita_min,immagine+)>
<!ELEMENT id (#PCDATA) >
<!ELEMENT nome (#PCDATA) >
<!ELEMENT descrizione (#PCDATA) >
<!ELEMENT prezzo_vendita (#PCDATA) >
<!ELEMENT prezzo_acquisto (#PCDATA) >
<!ELEMENT quantita (#PCDATA) >
<!ELEMENT quantita_min (#PCDATA) >
<!ELEMENT immagine (#PCDATA) >
				